@import "tailwindcss";


@theme {
  --color-main : #1F3E77
}

@layer components {

  .button {

    @apply px-1  bg-black lg:h-16 lg:w-40 h-10 w-40 text-wrap text-white lg:rounded-2xl lfrounded-lg  transform transition duration-300 ease-in-out
                   hover:scale-110 italic font-semibold
  }

  .btn {

    @apply px-1  bg-black lg:h-10 lg:w-30 h-10 w-20 text-wrap text-white lg:rounded-2xl rounded-lg  transform transition duration-300 ease-in-out
                   hover:scale-110 italic font-semibold
  }

  .img {
    @apply transform transition duration-300 ease-in-out
                   hover:scale-105
  }

  .data {
    @apply h-10 w-60 px-6 py-2 rounded-lg border-2 border-black shadow-sm
  }
}